[credential]
	helper = store
[alias]
	st = status
	co = checkout
[user]
	email = me@lokach.ru
	name = Kazantsev Artem
	signingkey = 482F6BF071C3F77B
[core]
	editor = nvim
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[http]
	postBuffer = 524288000
	maxRequests = 100
