@import "frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-media,
#tray,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#bluetooth,
#language,
#custom-notification,
#custom-weather,
#pulseaudio,
#network,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.5rem;
  margin: 5px 0;
}

#custom-weather,
#network,
#language,
#custom-timer,
#custom-notification {
  padding: 0.5rem 0.5rem;
  margin: 5px 0;
}

#temperature,
#bluetooth,
#custom-weather,
#language {
  background-color: @surface0;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#memory,
#custom-notification {
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#language {
    margin-left: 0.5rem;
}

#network {
    border-radius: 1rem 1rem;
    margin-right: 0.5rem;
}

#bluetooth {
    color: @blue
}

#custom-weather {
    color: @peach
}

#network {
    color: @sapphire
}

#clock {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
}

#memory {
    color: @peach
}

#cpu {
    color: @sky
}

#temperature {
    color: @pink
}

#battery {
  color: @green;
}

#battery.charging{
  color: @blue;
}

#battery.critical:not(.charging){
  color: @red;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#backlight {
  color: @yellow;
}

#backlight, 
#battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
}

#custom-media {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  border-radius: 1rem;
}
